html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
}


/* style do menu bocznego */

nav {
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0B0F40;
    border: 10px solid #84541A;
    border-radius: 10px;
    color: white;
}

.nav__logo {
    width: 80%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DBD074;
    text-transform: uppercase;
    font-weight: bolder;
    border: 2px double #371E00;
    background-color: #5A5F98;
}

.nav__points{
    font-size: 18px;
    font-weight: bold;
}

.nav__btn {
    width: 80%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 25px;
    font-size: 20px;
}

.btn-start {
    background-color: green;
    -webkit-box-shadow: 2px 2px 0px 2px darkgreen;
    -moz-box-shadow: 2px 2px 0px 2px darkgreen;
    box-shadow: 2px 2px 0px 2px darkgreen;
    color: darkred;
}

.btn-restart {
    background-color: red;
    -webkit-box-shadow: 2px 2px 0px 2px darkred;
    -moz-box-shadow: 2px 2px 0px 2px darkred;
    box-shadow: 2px 2px 0px 2px darkred;
    color: darkgreen;
}

.btn-info {
    background-color: white;
    -webkit-box-shadow: 2px 2px 0px 2px grey;
    -moz-box-shadow: 2px 2px 0px 2px grey;
    box-shadow: 2px 2px 0px 2px grey;
    color: black;
}

.nav__sound{
    align-self: flex-end;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;
}

/*Style do stołu z grami */

.game {
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.game__cardTable {
    list-style-type: none;
    width: 80%;
    height: 80vh;
    background-color: #AEA23D;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 100px;
    height: 100px;
    background-color: black;
    padding: 0;
    margin: 0;
}

.card img {
    width: 100%;
    height: 100%;
}

.black {
    display: none;
}